#sideMenu {
  img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  }
  .link, #link {
    cursor: pointer;
    display: block;
    line-height: 50px;
    font-size: 16px;
    border-radius: 25px;
    &:hover {
      @media(prefers-color-scheme:dark) {
        background-color: rgba(255,255,255,0.1);
      }
      // background-color: rgba(255,255,255,0.1);
      background-color: rgba(180, 190, 190, 0.1);
      color: #3490dc;
    }
  }
  .link-p {
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    border-radius: 25px;
    &:hover {
      @media(prefers-color-scheme:dark) {
          background-color: rgba(255,255,255,0.1);
        }
        background-color: rgba(180, 190, 190, 0.1);
      color: #3490dc;
    }
  }
  .icon {
    padding: 0 10px;
    margin: 0 5px;
  }
}
