.Form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    &:focus + .borderBottom {
      background: rgb(0, 132, 255);
      outline-color: transparent;
      outline-style: none;
    }
  }
  .formBlock {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .borderBottom {
    height: 3px;
    width: 100%;
    background: white;
    border: none;
    // transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    transition: all .50s;
  }
}
