.textArea {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.contentLeft {
  width: 50px;
}

.contentRight {
  width: calc(100% - 60px);
}

// empty
.opa {
  opacity: 0.7;
}

// placelank
.lanking {
  background-color: rgba(0,0,0,0.1);
  .lank {
    background-color: rgba(0,0,0,0.1);
    p {
      font-size: 17px;
    }
  }
}

// postmenu
.menuTorigger {
  position: relative;
  .Menu {
    position: absolute;
    top: 1;
    right: 0;
    z-index: 3;
    width: 150px;
    border-radius: 5px;
    li {
      padding-top: 2px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
